@model SocialMedia.ViewModels.CommentModel

@{
    ViewBag.Title = "Comment";
}

<h2>Comment</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Content)
            @Html.ValidationMessageFor(model => model.Content)
        </div>
        <div class="editor-label">
            @Html.HiddenFor(model => model.Id)
        </div>
        <p>
            <input type="submit" value="Comment" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Stream")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}